#info {
    width: 960px;
    height: 960px;
    padding: 20px;
    margin-top: 50px;
    margin: 0 auto;
    background: #ffffff;
    border: 15px #dddddd;
    color: #777777;
  }

.portfolio-images {
    height: 150px;
    width: 300px;
    padding: 20px;
}
div.polaroid {
  width: 25%;
  background-color: teal;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  color: white;
  font-family: georgia;
  float: left;
  margin: 25px;
}

div.container {
  text-align: center;
  padding: 10px 20px;
}

.gallery-title
{
    font-size: 36px;
    color: #42B32F;
    text-align: center;
    font-weight: 500;
    margin-bottom: 70px;
}
.gallery-title:after {
    content: "";
    position: absolute;
    width: 7.5%;
    left: 46.5%;
    height: 45px;
    border-bottom: 1px solid #5e5e5e;
}
.filter-button
{
    font-size: 18px;
    border: 1px solid #42B32F;
    border-radius: 5px;
    text-align: center;
    color: #42B32F;
    margin-bottom: 30px;

}
.filter-button:hover
{
    font-size: 18px;
    border: 1px solid #42B32F;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    background-color: #42B32F;

}
.btn-default:active .filter-button:active
{
    background-color: #42B32F;
    color: white;
}

.port-image
{
    width: 100%;
}

.gallery_product
{
    margin-bottom: 30px;
}
